<div class="row">
        <div class="panel panel-primary mx-auto">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Estudiantes</h3>
            </div>
            <table class="table">
                <thead>
                    <tr>               
                        <td>ID</td>
                        <td>Nombre</td>
                        <td>Username</td>
                        <td>Carnet</td>
                        <td>Email</td>
                        <td> </td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let Student of Estudiantes">               
                        <td>{{Student.IDUser}}</td>
                        <td>{{Student.FullName}}</td>
                        <td>{{Student.UserName}}</td>
                        <td>{{Student.Carnet}}</td>
                        <td>{{Student.Email}}</td>
                        <td><button class="btn btn-success" id={{Student.IDUser}} (click)="createAux(Button)" #Button>Volver Auxiliar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>