<br>
<div class= "offset-md-4 col-md-12">
    <form (submit)="newSectionAssign(SelectCourse,Semestre,Year,SelectAuxiliar)" class="form-group">
        <!-- Form Name -->
        <legend>Asignar Seccion de Curso</legend>
        <br>

        <!--ComboBox-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Secciones de Cursos</label> 
            <div class="col-md-4">
                <select class="col-md-12 form-control" #SelectCourse>
                    <option *ngFor = "let CourseSection of SeccionesCursos" id={{CourseSection.IDCourse}} [value]="CourseSection.Section">
                        ID: {{CourseSection.IDCourse}} - Nombre: {{CourseSection.CourseName}} - Seccion: {{CourseSection.Section}}
                    </option>
                </select>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Semestre</label> 
            <div class="col-md-4">
                <select class="col-md-12 form-control" #Semestre>
                    <option value="1">Primer Semestre</option>
                    <option value="2">Segundo Semestre</option>
                </select>
            </div>
        </div>
        
         <!-- Text input-->
         <div class="form-group">
            <label class="col-md-4 control-label " for="fname">Año</label>  
            <div class="col-md-4"> 
            <input type="text" placeholder="Ej. 11:00" class="form-control input-md" required="" #Year>         
            </div>
        </div>

        <!--ComboBox-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Auxiliares</label> 
            <div class="col-md-4">
                <select class="col-md-12 form-control" #SelectAuxiliar>
                    <option *ngFor = "let Auxiliar of Auxiliares" value={{Auxiliar.IDUser}}>
                        ID: {{Auxiliar.IDUser}}- Nombre: {{Auxiliar.FullName}}
                    </option>
                </select>
            </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
            <div class="col-md-8">
            <button class="btn btn-success col-md-3 ">Asignar Seccion</button>
            </div>
        </div>
        
    </form>
</div>